@model dynamic


<div class="card mb-4 shadow bg-light">
    <h2> Expenses </h2>
    <div class="table-responsive">
        <table class="table" align="left">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Exp Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
        </table>
        <partial name="_ExpenseRow" model="@Model.exudpateRequest">
    </div>
</div>